<button class="left-carou"  [disabled]="!leftDI"  [class.enable]="leftDI" (click)="nextSlideUser(-1)">Previous SLIDE</button>
<button class="right-carou" [disabled]="!rightDI"  [class.enable]="rightDI" (click)="nextSlideUser(1)">NEXT SLIDE</button>
 <div class="row carousel">

                  <div   class="col-md-12">
                  
                      <img  *ngIf="slides[0].active"  [@slide1]="slides[0].state" src="{{slides[0].image}}" class="carou-img" >
                      <img  *ngIf="slides[1].active"   [@slide1]="slides[1].state" src="{{slides[1].image}}" class="carou-img" >
                      <img   *ngIf="slides[2].active"  [@slide1]="slides[2].state" src="{{slides[2].image}}" class="carou-img" >
                  
                      </div>   

                      
                      
                      
                      <!--<div   class="col-md-12">
                  
                      <img [@slideActive]="currentSlide.state" src="{{currentSlide.image}}" class="carou-img" >
                           

                      </div>
                    <div  [@slideActiveWhite]="currentSlide.state" class="carousel-nuilea">
                      <h1  [@slideActiveText]="currentSlide.state" style="color: black;">{{currentSlide.title}} </h1>
                      <h2  [@slideActiveText2]="currentSlide.state" style="color: black"> {{currentSlide.text}} </h2 >
                    </div>

                      <div class="col-md-12">
                        <button type="button" class="btn btn-info"
                                (click)="removeLastSlide()">Remove Last Slide
                        </button>
                      </div>-->





      </div> 

                          <!--<carousel  [interval]="NextPhotoInterval" [noWrap]="noLoopSlides"> 
                          <slide  [class.pedro]="slidez.active"  [@slideActive]="slidez.state"  *ngFor="let slidez of slides;"
                                 [state]="slidez.state"   [active]="slidez.active" >
                            <img [src]="slidez.image" class="carou-img" >
                             <div class="carousel-caption">
                              <h3 style="color: white;">Slide que tambien</h3>
                              <p  style="color: white;">{{slidez.active}} dos </p>
                            </div>
                          </slide>
                        </carousel>-->